################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GLSLExperiment/FileContentIndex/16c2d888-a7e9-4600-a6b2-49c8887ccb6a.vsidx
